<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="Setting1" value="May 5, 2014"/>
    <add key="Setting2" value="May 6, 2014"/>

    <add key="firstname" value="test"/>
    <add key="test.last.name" value="last.name"/>
    <add key="residential.address:STREET.name" value="Something street"/>
    <add key="residential.address:zipcode" value="12345"/>

    <add key="personal:firstname" value="test"/>
    <add key="personal:lastname" value="last.name"/>
    <add key="personal:address:STREET:name" value="Something street"/>
    <add key="personal:Address:zipcode" value="12345"/>

    <add key="ip:0" value="15.16.17.18"/>
    <add key="ip:1" value="7.8.9.10"/>
    <add key="ip:2" value="11.12.13.14"/>-->
  </appSettings>
</configuration>